name: ci

on: 
  workflow_dispatch:
  push:
    paths: 
      - '**.py'
  pull_request:
    paths:
      - '**.py'


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: |
          pip install --upgrade pip
          pip install -r requirements-dev.txt
      - run: pylint src
      - run: mypy src

  lint-future:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - run: |
          pip install --upgrade pip
          pip install -r requirements-future.txt
      - run: pylint src
